html {
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left,  #00ffff 0%, #b2ffff 50%, #f0f8ff 61%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00ffff), color-stop(50%,#b2ffff), color-stop(61%,#f0f8ff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #00ffff 0%,#b2ffff 50%,#f0f8ff 61%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #00ffff 0%,#b2ffff 50%,#f0f8ff 61%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #00ffff 0%,#b2ffff 50%,#f0f8ff 61%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to right,  #00ffff 0%,#b2ffff 50%,#f0f8ff 61%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    min-height: 100%;
	text-align:  center;
}

div.rounded {
	border-style:  solid;
	border-width:  thick;
    border-radius:  1em;
    padding-left:  1em;
    padding-right:  1em;
	background-color:  #ffffff;
	font-size:  1.5em;
	margin-bottom:  4em;
	margin-left:  4em;
	margin-right:  4em;
}

a.button {
    background-color: #ffffff;
	border-radius:  1em;
    border: thick solid #000000;
	vertical-align:  middle;
    color: black;
    width: 8em;
	padding:  .5em 0em .5em 0em;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
	margin:  .5em .5em .5em .5em;
	font-size:  2em;
	text-decoration:  none;
}

a.button:hover {
	background-color:  #000000;
	color:  #ffffff;
}

h1 {
	font-size:  2.5em;
}

h2 {
	font-size:  1.5em;
}