.section{
    display: inline-block;
	float:  left;
}

.section > div{
	margin:  1em 1em;
	padding:  .5em .5em;
	max-width:  45em;
}

#pet.section{
	float:  right;
	margin:  1em 1em;
	padding:  .5em .5em;
	max-width:  40em;
}

#commandDisplay{
	overflow: auto;
}

#buttons{
	max-height:  20em;
	overflow:  auto;
}

button.commands{
  font-size:  2em;
  margin:  .25em 0 .25em 0;
  background-color:  #ffffff;
  border:  solid thick #000000;
  padding:  .25em .25em;
  display:  inline-block;
  border-radius:  1em;
}

#codesnippets{
	min-width:  40em;
	text-align:  left;
	min-height:  20em;
}

pre{
	font-family:  monospace;
}

.tabs {
	min-height: 19em;
	padding-top:  .5em;
    position: relative;
    line-height: 1;
    z-index: 0
}
div.tabs > div {
    display: inline;
}
div.tabs > div > a {
  color: white;
  background: #8a2be2;
  font-size:  1.5em;
  padding: 0.2em;
  border: 0.1em outset #9683ec;
  border-bottom: 0.1em solid #8a2be2}
div.tabs > div:not(:target) > a {
  border-bottom: none;
  background: #553592}
div.tabs > div:target > a {
  border-bottom: 0.1em solid #8a2be2;
  background: #8a2be2
}
div.tabs > div > div {
	font-size:  1.5em;
	color:  white;
	background: #8a2be2;
    z-index: -2;
    left: 0; top: 1.3em;
    bottom: 0; right: 0;
	overflow: auto;
    padding: 0.3em;
    border: 0.1em outset #9683ec;
}
div.tabs > div:not(:target) > div {
  position: absolute }
div.tabs > div:target > div, :target #default2 > div {
  position: absolute;
  z-index: -1}
div.tabs :target {
  outline: none}