.select{
	float: left;
}

.img_option {
  padding:  10px 10px 10px 10px;
}

#cat.active {
	content:url("../media/cat_kopf.jpg");
}
#cat.inactive {
	content:url("../media/cat_kopf_grey.jpg");
}
#dog.active {
	content:url("../media/dog_kopf.jpg");
}
#dog.inactive {
	content:url("../media/dog_kopf_grey.jpg");
}
#dinosaur.active {
	content:url("../media/dino_kopf.jpg");
}
#dinosaur.inactive {
	content:url("../media/dino_kopf_grey.jpg");
}
#one.active {
	content:url("../media/one_active.bmp");
}
#one.inactive {
	content:url("../media/one_inactive.bmp");
}
#two.active{
	content:url("../media/two_active.bmp");
}
#two.inactive {
	content:url("../media/two_inactive.bmp");
}
#three.active {
	content:url("../media/three_active.bmp");
}
#three.inactive {
	content:url("../media/three_inactive.bmp");
}
